{% extends 'base.html.twig' %}

{% block title %}Edit CategoryFilter{% endblock %}

{% block body %}
    <h1>Edit CategoryFilter</h1>

    {{ include('category_filter/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_category_filter_index') }}">back to list</a>

    {{ include('category_filter/_delete_form.html.twig') }}
{% endblock %}
